server=1
txindex=0
prune=0
maxconnections=256

port=${P2P_PORT}
rpcport=${RPC_PORT}

rpcuser=${RPC_USER}
rpcpassword=${RPC_PASSWORD}
rpcbind=0.0.0.0
rpcallowip=127.0.0.1/32
rpcallowip=${APPS_SUBNET}
rpcallowip=10.0.0.0/8
rpcallowip=172.16.0.0/12
rpcallowip=192.168.0.0/16

rpcworkqueue=32
rpcthreads=32
rpcmaxconcurrent=20

zmqpubhashblock=tcp://0.0.0.0:${ZMQ_HASHBLOCK_PORT}
zmqpubhashtx=tcp://0.0.0.0:${ZMQ_RAWTX_PORT}
zmqpubrawblock=tcp://0.0.0.0:${ZMQ_RAWBLOCK_PORT}
